﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminLayout.master.cs" Inherits="Rane_WSD.AdminLayout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rane TRW | Whole Sales Distributor</title>
    <link href="../assets/css/icons.min.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />    
    <link href="../assets/css/styles.min.css" rel="stylesheet" />
    <link href="../assets/libs/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        /*.topbar-header{
            background-color:#09294e !important;
        }
        .page-title-box {
            background-color:#09294e !important;
        }*/
        /*.side-navbar .metismenu>li>a.active {
    border-left: 4px solid #09294e;
    color: #09294e !important;
    background-color: #f7f7ff;
    font-weight:700;
}

.side-navbar .metismenu>li>a span {

    color: #09294e !important;
    background-color: #f7f7ff;
    font-weight:700;
}*/

    </style>
</head>
<body>
    <form id="form1" runat="server">
       <div class="page-wrapper">
      <!-- Begin Header -->
      <!-- Begin Header -->
      <header id="page-topbar" class="topbar-header">
         <div class="navbar-header">
            <div class="left-bar">
               <div class="navbar-brand-box">
                  <a href="index.html" class="logo logo-dark">
                     <span class="logo-sm"><img src="../assets/images/logo.jpg" alt="Lettstart Admin"/></span>
                     <span class="logo-lg"><img src="../assets/images/logo.jpg" alt="Lettstart Admin"/></span>
                  </a>
                  <a href="index.html" class="logo logo-light">
                     <span class="logo-sm"><img src="../assets/images/logo.jpg" alt="Lettstart Admin"/></span>
                     <span class="logo-lg"><img src="../assets/images/logo.jpg" alt="Lettstart Admin"/></span>
                  </a>
               </div>
               <button type="button" id="vertical-menu-btn" class="btn hamburg-icon">
                  <i class="mdi mdi-menu"></i>
               </button>
              
                
            </div>
             <div class="center-bar ">
                 <h3 class="text-light d-nones ">Warranty Complaints and Service Tracking(WSD)</h3>
             </div>
            <div class="right-bar">
               
               <div class="d-inline-flex ml-0 ml-sm-2 d-lg-none dropdown">
                  <button data-toggle="dropdown" aria-haspopup="true" type="button" id="page-header-search-dropdown"
                     aria-expanded="false" class="btn header-item notify-icon">
                     <i class="bx bx-search"></i>
                  </button>
                  <div aria-labelledby="page-header-search-dropdown"
                     class="dropdown-menu-lg dropdown-menu-right p-0 dropdown-menu">
                     <form class="p-3">
                        <div class="search-box">
                           <div class="position-relative">
                              <input type="text" placeholder="Search..." class="form-control form-control-sm">
                              <i class="bx bx-search icon"></i>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
                
                
               <div class="d-none d-lg-inline-flex ml-2">
                  <button type="button" data-toggle="fullscreen" class="btn header-item notify-icon" id="full-screen">
                     <i class="bx bx-fullscreen"></i>
                  </button>
               </div>
                
               <div class="d-inline-flex ml-0 ml-sm-2 dropdown">
                  <button data-toggle="dropdown" aria-haspopup="true" type="button" id="page-header-profile-dropdown"
                     aria-expanded="false" class="btn header-item">
                     <img src="../assets/images/users/noImg.png" alt="Avatar" class="avatar avatar-xs mr-1" />
                     <asp:Label ID="txtusername" runat="server" ></asp:Label>
                     <i class="bx bx-chevron-down d-none d-xl-inline-block"></i>
                  </button>
                  <div aria-labelledby="page-header-profile-dropdown" class="dropdown-menu-right dropdown-menu">
                    
                     <a href="../ChangePassword.aspx" class="dropdown-item">
                        <i class="bx bx-lock mr-1"></i> Change Password
                     </a>
                     <div class="dropdown-divider"></div>
                     <a href="../LogOut.aspx" class="text-danger dropdown-item">
                        <i class="bx bx-log-in mr-1 text-danger"></i> Logout
                     </a>
                  </div>
               </div>
             <%--  <div class="d-inline-flex">
                  <button type="button" id="layout" class="btn header-item notify-icon">
                     <i class="bx bx-cog bx-spin"></i>
                  </button>
               </div>--%>
            </div>
         </div>
      </header>
      <!-- Header End -->
      <!-- Header End -->
      <!-- Begin Left Navigation -->
      <!-- Begin Left Navigation -->
      <aside class="side-navbar">
         <div class="scroll-content" id="metismenu">
            <ul id="side-menu" class="metismenu list-unstyled">
               <li class="side-nav-title side-nav-item menu-title">Menu</li>
               <li>
                  <a href="dashboard.aspx" class="side-nav-link" aria-expanded="false">
                     <i class="bx bx-home-circle"></i>
                     <span> Dashboard</span>
                  </a>
               </li>
                <li class="sidebar-item">
			        <a href="javascript:void(0)">
			          <i class=" fas fa-user-plus" ></i>
			          <span> Account Creation</span>
			          <span class="menu-arrow"></span>
			        </a>
			        <ul aria-expanded="false" class="nav-second-level">
			          <li class="sidebar-item">
			            <a href="listaccount.aspx?usertype=WSD" class="sidebar-link">
			              <span class="hide-menu"> WSD</span>
			            </a>
			          </li>
			          <li class="sidebar-item">
			            <a href="listaccount.aspx?usertype=Sales Engineer" class="sidebar-link">
			              <span class="hide-menu"> Sales Engineer</span>
			            </a>
			          </li>
			          <li class="sidebar-item">
			            <a href="listServiceEngineer.aspx" class="sidebar-link">
			              <span class="hide-menu"> Service Engineer</span>
			            </a>
			          </li>
			          <li class="sidebar-item">
			            <a href="listASC.aspx" class="sidebar-link">
			              <span class="hide-menu"> ASC</span>
			            </a>
			          </li>
			          <li class="sidebar-item">
			            <a href="listaccount.aspx?usertype=Warehouse" class="sidebar-link">
			              <span class="hide-menu"> Warehouse</span>
			            </a>
			          </li>
			        
			          
			        </ul>
			      </li>
              <%-- <li>
                  <a class="side-nav-link" href="listaccount.aspx">
                     <i class=" fas fa-user-plus"></i>
                     <span> Account Creation</span>
                  </a>
               </li>--%>
               <li>
                  <a class="side-nav-link" href="listFIR.aspx">
                     <i class="fas fa-info-circle"></i>
                     <span> FIR Status</span>
                  </a>
               </li>
                 <li class="sidebar-item">
                    <a href="ListComplaint.aspx">
                        <i class="fas fa-bullseye"></i>
                        <span>
                            <%--<asp:Label ID="lblFIR" runat="server" ></asp:Label>--%> View FIR</span>
                        <%-- <span class="menu-arrow"></span>--%>
                    </a>
                    
                </li>
                  <li class="sidebar-item">
                    <a href="ViewComplaint.aspx">
                        <i class="fas fa-bullseye"></i>
                        <span>
                            <%--<asp:Label ID="lblFIR" runat="server" ></asp:Label>--%> Admin Approved FIR</span>
                        <%-- <span class="menu-arrow"></span>--%>
                    </a>
                    
                </li>
               <%--<li class="side-nav-title side-nav-item menu-title">Pages</li>--%>
            </ul>
         </div>
      </aside>
      <!-- Left Navigation End -->
      <!-- Left Navigation End -->
      <!-- Begin main content -->
      <div class="main-content">
         <!-- content -->
         <div class="page-content">
            <!-- page header -->
             <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
         </div>
      </div>
      <!-- main content End -->
      <!-- footer -->
      <!-- footer -->
      <footer class="footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6 mb-1 mb-md-0">
                  <span>2021 &copy; Copyrights</span>
               </div>
                <div class="col-md-6 text-md-right">
                    <span>Design and Develop By <span class="text-primary font-weight-500">
                        <a href="http://brainmagic.co.in/" target="_blank">Brainmagic infotech pvt ltd</a>
                    </span></span>
                </div>
            </div>
         </div>
      </footer>

       
   </div>
    </form>
    <script src="../assets/js/vendor.min.js"></script>
    <script src="../assets/libs/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../assets/libs/bootstrap-table/bootstrap-tables.init.js"></script>
    <script src="../assets/js/app.min.js"></script>
</body>
</html>
